@import "tailwindcss";

/* Root height and overflow control */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}


/* Hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Snap Scrolling */
.snap-y-mandatory {
  scroll-snap-type: y mandatory;
}
.snap-always {
  scroll-snap-stop: always;
}
.snap-center {
  scroll-snap-align: center;
}